{% comment %}
{% load i18n filters %}
{% with search=filter|get_first_filter_by_type:"search" sort=filter|get_first_filter_by_type:"sort" switchs=filter|get_filters_by_type:"switch" %}
  {% if search or sort  or switches %}
    <div class="card mb-5">
      {% if search or sort %}
        <div class="card-header align-items-center px-4 gap-2 gap-md-5">
          <div class="card-title">

            {% if search %}
              {% include search.template_name with attrs=search.attrs %}
            {% endif %}
          </div>
          <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            {% if sort %}
              {% include sort.template_name with attrs=sort.attrs %}
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% if switchs|length > 0 %}
        <div class="card-body p-4">
          <div class="row row-cols-4">
            {% for switch in switchs %}
              <div class="col mb-3">
                {% include switch.template_name with attrs=switch.attrs %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endwith %}


{% endcomment %}

{% if filter.top_left|length > 0 or filter.top_right|length > 0 %}
  <div class="card mb-5">
    <div class="card-header align-items-center px-4 gap-2 gap-md-5">
      {% if filter.top_left|length > 0 %}
        <div class="card-title">
          {% for filter in filter.top_left %}
            {% include filter.template_name with attrs=filter.attrs %}
          {% endfor %}
        </div>

      {% endif %}
      {% if filter.top_right|length > 0 %}
        <div class="card-toolbar">
          {% for filter in filter.top_right %}
            {% include filter.template_name with attrs=filter.attrs %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}